.#*
#*#
auth.json
.cache
.classpath
.*.crc
dist
.DS_Store
dump.rdb
.ensime
gc.log.*
.idea
.idea_modules
*.iml
*.ipr
*.iws
lib_managed
*.log
.project
project/boot
project/project
project/target
router.ser
sbt
*.seq
.settings
src_managed
*.swp
target
